* {
    font-size: 32px;
    color: black;
    text-align: center;
    margin: 0;
    font-family: 'K2D', sans-serif;
}
h1{
    text-transform: uppercase;
    position: absolute;
    top: calc(10vh - 21px);
    left: calc(50vw - 137px);
}

#bg {
    background-color: #dedede;
    width: 100vw;
    height: 100vh;
}

#plansza {
    position: absolute;
    height: 300px;
    width: 300px;
    text-align: center;
    background-position: center;
    font-style: italic;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
}

.pole {
    height: 100px;
    width: 100px;
    background-color: white;
    float: left;
    font-size: 70px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 1px solid;
}
#wynik{
    width: 136px;
    position: fixed;
    top: 85vh;
    left: calc(50vw - 68px)
}